################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/WindowsFormsApp4/bin/Debug
/WindowsFormsApp4/obj/Debug
/.vs/WindowsFormsApp4/v15/Server/sqlite3/db.lock
